/* Projects Page */

#projectspage {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: all 1.5s ease;
}

.projects-container {
  display: grid;
  box-sizing: border-box;
  padding: 20px; /* Added padding for better spacing */
}

.project-Header {
  text-align: left;
  margin-bottom: 20px;
}

.project-Header h1 {
  color: #D4F21B !important;
  text-align: left;
  font-size: 6.725rem;
  line-height: 1;
  position: relative; /* Position relative to the .section container */
  line-height: 1.2;
}

.section {
  font-family: Arial, Helvetica, sans-serif; /* Fixed font family */
  text-align: center;
}

/* Background colors for sections */

.project-box {
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.9s;
  height: 30vh !important;
  background: rgba(43, 73, 121, 0.638) !important;
  border: 2px solid white !important;
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
}

.project-box:hover {
  background-color: rgba(203, 224, 49, 0.87) !important;
  transform: scale(1.05);
}

.project-box .card-text {
  color: white; /* Description text in white */
  font-size: 1.5em;
}

.my-arrow {
  font-size: 4em;
}

.project-box .card-title {
  color: white; /* Header in white */
  font-weight: bold;
  font-size: 2.0em;
  margin-bottom: 10px;
}

.project-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: scale(1.1);
}

.project-box:hover::before {
  transform: scale(1.2);
  background-color: #D4F21B !important;
}

.project-box h3 {
  margin-bottom: 10px;
}

.project-box p {
  margin: 0;
}

#project-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.project-content {
  background-color: rgba(255, 255, 255, 0.638) !important; /* Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
}

/* Responsive Design */

/* Extra Large Devices (1200px and up) */
@media (min-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 20px;
  }

  .project-box {
    height: 25vh !important;
  }

  .project-box .card-text {
    font-size: 1.2em;
  }

  .project-box .card-title {
    font-size: 2.8em;
  }
}

/* Large Devices (992px to 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 20px;
  }

  .project-box {
    height: 30vh !important;
  }

  .project-box .card-text {
    font-size: 1.0em;
  }

  .project-box .card-title {
    font-size: 2.7em;
  }
}

/* Specific Tablets in Portrait Mode (768px x 1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 15px;
  }


  .project-box .card-text {
    font-size: 0.9em;
  }

  .project-box .card-title {
    font-size: 1.4em;
  }
}

/* Medium Devices (768px to 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 15px;
  }

  .project-box {
    height: 35vh !important;
  }

  .project-box .card-text {
    font-size: 1.0em;
  }

  .project-box .card-title {
    font-size: 2.5em;
  }
}

/* Small Devices (576px to 767px) */
@media (max-width: 767px) and (min-width: 576px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 10px;
  }

  .project-box {
    height: 40vh !important;
  }

  .project-box .card-text {
    font-size: 0.8em;
  }

  .project-box .card-title {
    font-size: 2.4em;
  }
}

/* Extra Small Devices (up to 575px) */
@media (max-width: 575px) {
  .project-Header h1 {
    font-size: 3rem;
  }.projects-container {
    grid-template-columns: repeat(auto-fit);
    gap: 10px;
  }

  .project-box {
    height: 45vh !important;
  }

  .project-box .card-text {
    font-size: 1.3em;
  }

  .project-box .card-title {
    font-size: 2.2em;
  }
}
